@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea; 

/* universal */

html {
  overflow-y: scroll;
}

body {
  min-height: 1000px;
  padding-top: 70px;
}

.center {text-align: center;}
.left {float:left;}
.right {float:right;}

/* icons */
.icon-facebook{ 
 background-image: url('assets/images/icon.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
background-position: 0px 5px; }

/* header */
#logo {
  font-size: 1.7em;
  font-weight: bold; 
  &:hover {
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}