<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="#">Log in</a></li>
    </ul>
  </nav>
<table>
  <tr>
    <td><h4 class="glyphicon glyphicon-earphone"> </h4></td>
  </tr>
  <tr>
    <td><h4 class="glyphicon glyphicon-phone"> </h4></td>
  </tr>
</table>


</footer>