<!-- Fixed navbar -->
    <header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Q&A Game", root_path, id: "logo", class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right">
               <li><%= link_to "Home",   root_path, class: "active" %></li>
               <li><%= link_to "Contacto",   contact_path %></li>
               <li><%= link_to "Log in", '#' %></li>
             </ul>
       </div>
      </div>
    </header>